.listing-grid {
  margin: 0 !important;
  
  .column {
    padding: 0.75rem !important;
  }
}

.listing-item {
  width: 100%;
  display: flex;
  flex-direction: column;
}

video.item-image {
  object-fit: cover !important;
  background: transparent !important;
  width: 100% !important;
  height: 100% !important;
  object-position: center !important;
  display: block !important;
}

