// Adjust in case the grid add-on is still in place.
.block.accordion [data-rbd-draggable-context-id] {
  margin-bottom: 1.5rem;
}
.ui.styled.accordion .title,
.ui.styled.accordion .accordion .title {
  padding-top: 15px;
}
.accordion-block,
.block-editor-accordion {
  .ui.styled.accordion {
    overflow: hidden;

    &:last-child {
    }
    .title.accordion-title {
      background-color: unset;

      & > svg {
        height: 50px !important;
        fill: currentColor !important;
        transform: rotate(-90deg);
      }

      & > span,
      .input-accordion-title {
        @include introduction();
        color: inherit;
      }

      &.active > span {
        color: inherit;
      }

      &.active > svg {
        fill: currentColor !important;
        transform: rotate(180deg);
      }
    }

    .content {
      padding: 0;

      h2,
      h3 {
        margin-right: auto !important;
        margin-left: auto !important;
      }
      h2 {
        margin-bottom: 40px !important;
      }
      h3 {
        margin-bottom: 20px !important;
      }
      .block.listing {
        & > h2.headline {
          margin-bottom: 80px !important;
        }
        &:first-child {
          margin-top: 0;
        }
        .listing-item:last-child {
          border-bottom: none !important;
        }
      }

      .block.image {
        figure {
          &.right {
            margin-left: 20px;
          }
          &.left {
            margin-right: 20px;
          }
        }
        figcaption {
          padding: 0;
          margin-bottom: 0;

          .description > div {
            margin-bottom: 0;
          }
          .title {
            padding: 0;
            margin-bottom: 10px;
            background-color: transparent;
            color: inherit;
            text-transform: none;
            @include marginal-title();
          }
        }
      }

      .block.teaser {
        .teaser-item > .content {
          h2 {
            margin-bottom: 40px !important;
          }
        }
      }

      .block:last-child {
        margin-bottom: 0 !important;
      }
    }
  }
}
#page-add .block-editor-accordion,
#page-edit .block-editor-accordion {
  clear: both;
  .ui.drag.block.wrapper.inner.listing:nth-child(2) {
    margin-top: 0;
  }
}

.accordion-block.has--backgroundColor--grey,
#page-add .block-editor-accordion.has--backgroundColor--grey,
#page-edit .block-editor-accordion.has--backgroundColor--grey {
  .accordion.ui.fluid.styled {
    background-color: inherit;
  }
}

.block-editor-accordion fieldset legend {
  position: absolute;
  z-index: 3;
  top: -1.3em;
  left: 0;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 1rem;
  margin-right: auto;
  margin-left: auto;
  background-color: #FFFFFF;
  color: var(--lunasites-cms-primary-color, rgba(120, 192, 215, 0.75));
  cursor: pointer;
  text-align: center;
}

.block-editor-accordion .block.accordion.selected::before, 
.block-editor-accordion .block.accordion:hover::before {
  border-style: solid;
}
